body{
    margin:0px;
    padding:0px;
    
}

header {
    margin-top:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 0px;
    background-color: rgb(24, 22, 22);
    margin-top: 0px;
    
  }
  
  .left-section,
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .left-section nav,
  .right-section nav {
    margin-left: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial Black;
  }
  
  .clasa1,
  .clasa2,
  .clasa3,
  .clasa4,
  .clasa5,
  .clasa6 {
    border-radius: 20px;
  }
  
  .clasa1:hover,
  .clasa2:hover,
  .clasa3:hover,
  .clasa4:hover,
  .clasa5:hover,
  .clasa6:hover {
    background-color: green;
  }

  .imagini{
    margin-left:200px;
    padding: 20px;
    
  }

  .imagini img{
    padding: 20px;
  }

  .pasaj {
    width: 100%;
    padding:50px;
    background-color:rgb(255, 255, 255);
    color: #000000;
    font-size:20px;
    font-family: cursive;
    
  
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    
  }
  
  .column img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    
  }
  
  